---
import './css/metodology.css';
---

<section class="metodology">
  <div class="metodology-content">
    <h1 class="metodology-title">BRAND-LED</h1>
    <p class="metodology-paragraph">
      Você pode encontrar qualquer profissional ou agência que crie um site, publique conteúdo e gerencie SEO adotando abordagem genérica — acontece que sua empresa não é algo qualquer. Uma comunicação digital coesa requer um olhar profundo sobre os valores, características e virtuosidades da sua marca.
    </p>
    <blockquote class="metodology-blockquote">
      "Em vez de apenas corresponder suas palavras-chave a páginas da web, o Google quer entender do que você realmente necessita com base em quem você é e o que, como indivíduo, precisa no momento. O Google chama isso de contexto pessoal."
      <cite class="metodology-cite">Eli Schwartz — Autor do livro Product-Led SEO</cite>
    </blockquote>
    <p class="metodology-paragraph">
      O Google compreende nossas preferências à medida em que pesquisamos, clicamos ou avaliamos, por exemplo. Isso significa que o algoritmo — a cada dia mais calibrado — sabe quando a sua empresa é recomendação adequada ao contexto do usuário.
    </p>
    <p class="metodology-paragraph">
      Quanto mais complexidade esse contexto adquire, maior a quantidade de critérios que determinarão o resultado da pesquisa e, consequentemente, melhores serão as recomendações. O melhor disso tudo é que os benefícios não se limitam ao usuário: a sua marca também tem muito a ganhar, contanto que entenda o jogo.
    </p>
  </div>
</section>
