@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('HelveticaNeue-Light'),
       local('Helvetica Neue Light'),
       url('helvetica-neue-light.woff2') format('woff2');
  ascent-override: 95%;
  descent-override: 25%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HelveticaNeue'),
       local('Helvetica Neue Regular'),
       url('helvetica-neue-regular.woff2') format('woff2');
  ascent-override: 95%;
  descent-override: 25%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('HelveticaNeue-Medium'),
       local('Helvetica Neue Medium'),
       url('helvetica-neue-medium.woff2') format('woff2');
  ascent-override: 95%;
  descent-override: 25%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('HelveticaNeue-Bold'),
       local('Helvetica Neue Bold'),
       url('helvetica-neue-bold.woff2') format('woff2');
  ascent-override: 95%;
  descent-override: 25%;
  line-gap-override: 0%;
  size-adjust: 100%;
}