---
import Navigation from '../../components/nav/Navigation.astro';
import About_01 from '../../components/sections/16_about/about_sections/AboutDesktop_01.astro';
import About_02 from '../../components/sections/16_about/about_sections/AboutDesktop_02.astro';
import About_03 from '../../components/sections/16_about/about_sections/AboutDesktop_03.astro';
import About_04 from '../../components/sections/16_about/about_sections/AboutDesktop_04.astro';
import About_05 from '../../components/sections/16_about/about_sections/AboutDesktop_05.astro';
import About_06 from '../../components/sections/16_about/about_sections/AboutDesktop_06.astro';
import About_07 from '../../components/sections/16_about/about_sections/AboutDesktop_07.astro';
import About_08 from '../../components/sections/16_about/about_sections/AboutDesktop_08.astro';
import About_09 from '../../components/sections/16_about/about_sections/AboutDesktop_09.astro';
import Footer from '../../components/footer/Footer.astro';
---

<main class="desktop-layout">
  <Navigation slot="nav" />
  <About_01 slot="hero" />
  <About_02 slot="snap-content" />
  <About_03 slot="snap-content" />
  <About_04 slot="snap-content" />
  <About_05 slot="snap-content" />
  <About_06 slot="snap-content" />
  <About_07 slot="snap-content" />
  <About_08 slot="snap-content" />
  <About_09 slot="snap-content" />
  <Footer slot="rest-content" />
</main>
