/* outfit-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/outfit/outfit-v14-latin-100.woff2') format('woff2');
}
/* outfit-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/outfit/outfit-v14-latin-regular.woff2') format('woff2');
}
/* ortica-regular */
@font-face {
  font-family: 'Ortica';
  src: url('/fonts/ortica/OrticaLinear-Regular.woff2') format('woff2'),
       url('/fonts/ortica/OrticaLinear-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Importa as regras do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplica a fonte padrão ao corpo do site */
body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400; /* Define o peso padrão como regular */
  font-size: 1.125rem;
  background-color: #F3F0E9;
}

/* O resto do seu CSS... */
