---
import './css/menu.css';
---

<div id="overlayMenu" class="overlay-menu">
  <button id="closeMenuBtn" class="close-btn">&times;</button>
  <nav class="overlay-menu-nav">
    <a href="/about">Sobre</a>
    <a href="/servicos">Serviços</a>
    <a href="/blog">Blog</a>
    <a href="/contato">Contato</a>
  </nav>
</div>
