 .logo__img {
   width: 50%;
   margin: 0 auto;
 }

  .line-wrapper {
    width: 100%;
    margin: var(--space-3xl) 0; 
  }

 .line__y {
    background: var(--color-text-secondary);
    width: 30%;
    height: 2px;
    margin: 0 auto;
    align-self: center;
    transform: rotate(90deg);
 }
 
 
 .about-content__p {
    text-align: left;
 }


