  .about-content {
    background: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--space-3xl);
    position: relative;
  }
  
  .about-content__p {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-secondary);
    text-align: start;
    height: fit-content;
    margin: auto 0 0 0;
    width: 60%;
    line-height: var(--line-height-tight);
  }
