.share-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(213deg, rgba(237, 237, 237, 1) 13%, rgba(235, 235, 247, 1) 33%, rgba(245, 245, 245, 1) 44%, rgba(240, 240, 240, 1) 100%, rgba(245, 245, 245, 1) 63%, rgba(255, 255, 255, 1) 80%, rgba(247, 247, 247, 1) 100%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.share-overlay.open {
  display: flex;
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.share-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.share-options a {
  position: relative;
  transition: transform 0.3s ease;
}

.share-options a:hover {
  transform: scale(1.1);
}

.share-options img {
  width: 60px;
  height: 60px;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--radius-md);
  font-size: var(--font-size-sm);
  white-space: nowrap;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.share-options a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
