---
import MetalBackground from '../components/MetalBackground.astro';
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Paulo Moura</title>
    <meta name="description" content="Portfólio de Paulo Moura" />
    <link rel="stylesheet" href="/src/styles/colors.css" />
  </head>
  <body>
    <MetalBackground />
    <div class="container" style="display: none;">
      <h1>Bem-vindo ao portfólio de Paulo Moura</h1>
      <p>Este é o início do nosso projeto com Astro.</p>
    </div>
  </body>
</html>