---
import Layout from '$/layouts/Layout.astro';
import Metodology from '$/components/sections/10_metodology/Metodology.astro';
import NewWay from '$/components/sections/10_metodology/NewWay.astro';
import Navigation from '$/components/nav/Navigation.astro';
import Footer from '$/components/footer/Footer.astro';
import RecommendationEquation from '$/components/sections/10_metodology/RecommendationEquation.astro';
import BrandLedSection from '$/components/sections/10_metodology/BrandLedSection.astro';
import ThreeLayersSection from '$/components/sections/10_metodology/ThreeLayersSection.astro';
---

<Layout>
  <Navigation slot="nav" />
  <div slot="rest-content">
    <Metodology />
    <NewWay />
    <RecommendationEquation />
    <BrandLedSection />
    <ThreeLayersSection />
    <Footer />
  </div>
</Layout>
