---
import './css/about_hero.css';
---

<section class="about-hero" id="about-hero">
  <div class="about-hero-content">
    <h1 class="about-hero-title">Moura</h1>
    <p class="about-hero-subtitle">Uma agência brand-driven</p>
  </div>
</section>