---
import './css/about_content.css';
---

<section class="about-content" id="about-content">
  <div class="title-container">
    <h2 class="about-title-02">O SER E O ESTAR NA INTERNET</h2>
  </div>
  <p class="about-content-p" id="acp-2">
    A diferença entre ser e estar representa um desafio para as empresas na internet. 
    Em muitos casos — provavelmente a maioria deles — o "estar na web" resume a presença online do negócio. 
    É um pensamento que explica o porquê de tantos sites e perfis de empresas refletirem pouco ou mesmo 
    nada do que elas realmente são, pois a maneira de agir converge para isso.
  </p>
</section>