---
import './css/about_approach.css';
---

<section class="about-approach" id="about-approach">
  <div class="quote-container">
    <blockquote class="quote">
      <p>"A marca é o que o cliente sente, de forma instintiva, sobre um produto, serviço ou empresa."</p>
      <cite class="quote-attribution">- Marty Neumeier</cite>
    </blockquote>
  </div>
  <div class="approach-content">
    <p>
      Essas palavras são de Marty Neumeier, responsável por ajudar empresas como Apple e Google a 
      construírem suas marcas. Enquanto a marca é consequência de sentimentos despertados no cliente, 
      branding significa construir uma reputação cuja consistência reforça a percepção das pessoas 
      sobre a marca de forma autêntica.
    </p>
    <p>
      Em vez do olhar superficial sobre o branding, procuramos entender profundamente a sua 
      identidade e o contexto de negócio a fim de prepará-lo para construir autoridade.
    </p>
  </div>
</section>