---
import './css/about_final.css';
---

<section class="about-final" id="about-final">
  <div class="final-content">
    <p>
      É o "ser" prevalecendo sobre o "estar". Afinal, não adianta estar na internet 
      se isso não representar algo consistente para seu negócio e seu público.
    </p>
    <p>
      Contratar agência ou freelancer para construir um site profissional, mas genérico 
      em aspecto e conteúdo, e criar perfil nas redes sociais apostando em viralizações 
      diz mais sobre buscar aceitação do que apresentar-se ao seu público.
    </p>
  </div>
</section>