<footer class="w-full py-8 px-4 sm:px-8">
  <div class="flex flex-col items-stretch">
    <div class="flex items-center">
      <div class="flex-grow h-px bg-gradient-to-r from-transparent via-brand-primary to-transparent line-shimmer"></div>
      <p class="text-xs font-light pl-4 text-brand-primary flex-shrink-0">&copy; 2025 M&B Advocacia</p>
    </div>
    <div class="flex justify-end mt-4">
      <p class="text-xs font-light">
        Desenvolvido por <a href="#" class="hover:text-brand-primary transition-colors duration-300">Paulo Moura</a>
      </p>
    </div>
  </div>
</footer>