---
import '../css/about_06.css';
---

<section class="about-content" id="about-content-4" slot="snap-content">
    
	<div class="article__container" id="article-container" style="width: 70%; align-items: start;">
    		<p class="about-content__p">
    		Se a sua ficha caiu, é porque chegou a hora de mudar a direção. Não falo de seguir para o norte, nem rumo ao sul. Trata-se de trilhar um caminho próprio, que faça sentido para o seu negócio considerando suas características e peculiaridades.
    		</p>
    
    		<p class="about-content__p">
    		É momento de deixar de fazer número e começar a aumentar seus números.
Foi exatamente para isso que criei a MOURA — uma agência que existe para personificar a sua marca no digital e traduzir o que você realmente é em presença online consistente.
    		</p>
    	</div>
    
    <div class="line-wrapper">
        <div class="line__y" id="line__y"></div>
    </div>
    
    <div class="logo__container" id="logo__container" style="align-self: end;">
    	<img class="logo__img" src="/img/logo/main_logo_black.svg">
    </div>
    	   
</section>
