---
import Button from '../../../ui/Button.astro';
import '../css/about_09.css';
---

<section class="about-content" id="about-content-9" slot="snap-content">
  <div class="container">
    <p class="final-paragraph">
      A MOURA nasceu como oportunidade para negócios de todos os portes e segmentos fazerem diferente. Nosso trabalho é executar uma evolução digital consistente, projetando a sua marca para crescimento em longo prazo com resultados mensuráveis já no curto prazo. Baseando-nos em estudos científicos, modernizamos o seu branding para que sejam geradas mais vendas e clientes fidelizados.
    </p>
    <Button href="/contato" variant="primary">Entre em Contato</Button>
  </div>
</section>
