---
import '../css/about_04.css';
---

<section class="about-content" id="about-content-2" slot="snap-content">
    
    <div class="title__container">
    	<p class="about__strong">PENSE COMIGO</p>
    </div>
    
    <p class="about-content__p">
    	Contratar agência ou freelancer para construir um site profissional, mas genérico em aspecto e conteúdo, e criar perfil nas redes sociais apostando em viralizações diz mais sobre buscar aceitação do que apresentar-se ao seu público.
    </p>
    
    <div class="line-wrapper">
        <div class="line__x" id="line__x-2"></div>
    </div>
    
    <div class="title__container">
    	<p class="about-content__p" style="text-align: end; margin: 0 0 0 auto;">
    	É como cumprir checklist sem entender o motivo de fazê-lo ou seguir um fluxo sem saber para onde ele conduz; são ações que levam para o comum, o popular "mais do mesmo".
    	</p>
    </div>
    
</section>
