---
import '../css/about_06.css';
---

<section class="about-content" id="about-content-4" slot="snap-content">
    
	<div class="article__container" id="article-container-6">
    		<p class="about-content__p" id="acp-6">
    		É hora de mudar a direção para um caminho pavimentado exclusivamente para o seu negócio, respeitando suas características, peculiaridades e necessidades.
    		</p> <br>
    
    		<p class="about-content__p" id="acp-6">
    		A proposta da MOURA é personificar a sua marca para o digital (ou otimizar a identidade existente), desenhar a comunicação e preparar a execução do planejamento ao SEO.
    		</p>
    	</div>
    
    <div class="line-wrapper">
        <div class="line__y" id="line__y"></div>
    </div>
    
    <div class="logo__container" id="logo__container" style="align-self: end;">
    	<img class="logo__img" src="/img/logo/main_logo_black.svg">
    </div>
    	   
</section>
