---
import '../css/about_03.css';
---

<section class="about-content" id="about-content" slot="snap-content">
    
    <div class="title__container">
    	<h2 class="about__title__02">O SER E O ESTAR NA INTERNET</h2>
    </div>
    
    <p class="about-content__p" id="acp-2">A diferença entre ser e estar é um desafio para as empresas no digital. Em muitos casos, o "estar na web" resume a presença online do negócio; pensamento este que explica o porquê de tantos sites e perfis corporativos refletirem pouco (ou nada) do que as empresas realmente são. A maneira de agir converge para tal.</p>
    
</section>
