---
import '../css/about_02.css';
---

<section class="about-intro" id="about-intro" slot="snap-content">
    
    <div class="title__container">
    	<h2 class="about__title">SOBRE</h2>
    	<div class="line__x"></div>
    </div>
    
    <p class="about__sub">Uma agência brand-driven</p>
    
    <p class="about__slogan">Movemos empresas da presença online obsoleta para o digital moderno.</p>
    
</section>


<script>
  const line = document.querySelector('#about-intro .line__x');
  
  if (line) {
    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        // Verifica se a linha está visível (intersecção com o viewport)
        if (entry.isIntersecting) {
          line.classList.add('is-visible');          
          observer.unobserve(line); 
        }
      });
    }, {    
      rootMargin: '0px', 
      threshold: 0.1 // Dispara quando 10% do elemento está visível
    });
    observer.observe(line);
  }
</script>
