---
import '../css/about_04.css';
---

<section class="about-content" id="about-content-2" slot="snap-content">
    
    <div class="title__container">
    	<p class="about__strong">PENSE COMIGO</p>
    </div>
    
    <p class="about-content__p" id="acp-3">
    	Agências ou freelancers são contratados para construir o vulgo "site profissional". Resultado: página genérica em conteúdo e visual, sem profundidade sobre aspectos importantes que definem a identidade da empresa.
    </p>
    
    <p class="about-content__p" id="acp-3">
    	Não obstante, a mesma qualidade de serviço é aplicada na criação ou otimização de perfis nas redes sociais. Resultado: falta de pensamento estratégico e posts que tentam surfar na onda de tendências e virais.
    </p>
    
    <p class="about-content__p" id="acp-3">
    	Essa abordagem não está atrasada, ela é um atraso. É buscar aceitação em vez de apresentar seus valores ao público. Na prática, as empresas preenchem checklits sem saber o motivo de fazê-lo, levando sempre para o lugar comum, o popular "mais do mesmo".
    </p>
    
</section>
