---
import '../css/about_05.css';
---

<section class="about-content" id="about-content-3" slot="snap-content">
    
    <div class="title__container">
    	<p class="about__sub" id="about__sub-2">
    	Mas você não abriu um negócio para ser como mais um tijolo na parede.
    	</p>
    </div>
    
    <div class="line-wrapper">
        <div class="line__x" id="line__x-2"></div>
    </div>
    
    <div class="article__container" id="article-container" style="place-items: center;">
    	<p class="about-content__p" id="acp-5">
    		Você estudou, aplicou anos de experiência na sua área a fim de fazer a diferença no mercado, e acredito que esteja tendo êxito no mundo offline.
    	</p>
    </div>

    <br>
    
    <div class="article__container" id="article-container" style="place-items: center;">
    	<p class="about-content__p" id="acp-5">
    		O que está faltando é levar para o digital aquilo que explica o seu sucesso e faz de sua empresa única. Em outras palavras, o que motiva as pessoas a escolherem você em vez da concorrência.
    	</p>
    </div>
    
    <br>
    
    <div class="article__container" id="article-container" style="place-items: center;">
    	<p class="about-content__p" id="acp-5">
    		<strong>É o "ser" prevalecendo sobre o "estar".</strong>
    	</p>
    </div>
    
</section>
