---
import '../css/about_07.css';
---

<section class="about-content" id="about-content-7" slot="snap-content">
  <div class="container">
    <div class="editorial-layout">
      <div class="editorial-grid">
        <div class="quote-column">
          <blockquote class="about__quote" id="about-quote-1">
            "A marca deve direcionar a ação para que a própria marca não seja direcionada, distorcida e reduzida ao comum."
            <cite>Paulo Moura</cite>
          </blockquote>
        </div>
        <div class="text-column">
          <h2 class="section-title">Brand-Driven: a marca como impulso</h2>
          <p class="about-content__p">
            Essa ideia parte do conceito Brand-Driven, que significa "impulsionado pela marca". Na prática, significa que trabalhamos para comunicar de um jeito eficiente o que a sua marca é e os valores que carrega. Não queremos moldá-la, muito menos destruir aquilo que você idealizou quando decidiu construir um negócio.
          </p>
          <p class="about-content__p p1">
            Afinal, se a sua empresa funciona, é porque os clientes já têm percepções sobre seus valores. O que muda no digital é como esses valores são disseminados a ponto de tornarem-se perceptíveis para a audiência e os motores de busca e IAs. Em outras palavras, fazer a sua marca brilhar genuinamente.
          </p>
          <p class="about-content__p p3">
             Para alcançar resultados desse quilate, trabalhamos para que mecanismos de busca e inteligências artificiais reconheçam sua marca e a recomendem às pessoas certas, nutrindo-os com conteúdos cuidadosamente elaborados para construir autoridade e reputação, não volume.
          </p>
          <p class="about-content__p">
           Não enchemos o cliente com siglas e nomenclaturas técnicas complicadas para dizer que entendemos do riscado. Nossos relatórios são transparentes e fáceis de entender, com dados interpretados, próximos passos explicados, tudo para que você saiba exatamente o que está acontecendo e quais otimizações serão executadas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
