---
import './css/hero.css';
import Button from '../../../ui/Button.astro';
---

<section class="hero">
  <div class="minimalist-overlay"></div>
  <div class="noise-overlay"></div>
  
  <main class="hero__content">
    <h1 class="hero__title">
      MOURA
    </h1>
    <p class="hero__subtitle">Presença digital que transcende algoritmos e tecnologias</p>

    <div class="hero__actions">
      <div class="hero__actions-right">
        <Button href="/metodologia" variant="secondary">
          Conheça a metodologia
        </Button>
        <Button href="/contato" variant="primary">
          Agende uma conversa
        </Button>
      </div>
    </div>
  </main>

</section>
