.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(213deg, rgba(237, 237, 237, 1) 13%, rgba(235, 235, 247, 1) 33%, rgba(245, 245, 245, 1) 44%, rgba(240, 240, 240, 1) 100%, rgba(245, 245, 245, 1) 63%, rgba(255, 255, 255, 1) 80%, rgba(247, 247, 247, 1) 100%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay-menu.open {
  display: flex;
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.overlay-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-menu-nav a {
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  color: #333;
  text-decoration: none;
  margin: 15px 0;
  transition: color 0.3s;
}

.overlay-menu-nav a:hover {
  color: var(--color-accent);
}
