@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-100.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-200.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-300.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-500.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-600.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-700.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-800.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url('outfit-v14-latin-900.woff2') format('woff2');
  ascent-override: 100%;
  descent-override: 22.22%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
