---
import './css/hero.css';
---

<section class="hero">
  <main class="hero__content">
    <h1 class="hero__title">MOURA</h1>
    <p class="hero__subtitle">PRESENÇA DIGITAL QUE TRANSCENDE ALGORITMOS E TECNOLOGIAS</p>

    <div class="hero__actions">
      <div class="hero__actions-right">
        <a href="/metodologia" class="hero__btn hero__btn--underline">
          Conhecer a metodologia
        </a>
        <a href="/contato" class="hero__btn hero__btn--primary">
          AGENDAR CONVERSA
        </a>
      </div>
    </div>
  </main>

</section>